th {
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.tabell {
    border-collapse: collapse;
}
.tabell td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
button {
    border: none;
    background-color: #FFDBB6;
    padding: 10px;
    color: black;
    width: auto;
    height: auto;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}
body  {
    background-color: beige;
}
.TittelWrite {
    float: none;
    width: auto;
}
.TittelWrite2 {
    float: none;
    width: auto;
}
.TittelWrite3 {
    float: none;
    width: auto;
}
@media screen and (max-width:730px) {
    .TittelWrite {float: left;width: 100%; padding-bottom: 5px;}
    .TittelWrite2 {float: left;width: 100%; padding-bottom: 5px;}
    .TittelWrite3 {float: left;width: 100%; padding-bottom: 5px;}
    button {width: 100%;};
}
